/*IMPORT FONTS*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZwjimrqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*BACK TO TOP STYLE*/
#toparrow {
  font-size: 35px;
  text-decoration: none;
  color: inherit;
  position: fixed;
  right: 50px;
  bottom: 30px;
  color: #31558e;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

.description {
  display: block;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
  text-align: justify;
  margin-left: 20px;
}

.title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 40px;
  display: block;
  margin-top: 0;
}

.header {
  text-align: center;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  border-bottom: 4px solid #a1c1f4;
  padding: 5px;
  padding-left: 0;
  padding-right: 0;
}

.interviewee {
  display: block;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-left: 20px;
}

li {
  width: 85%;
  font-size: 15px;
}


.storyboards img, .prototype img, .wireframes img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.storyboardcontainer {
  width: 85%;
  margin: 0 auto;
  padding: 5px;
}

.prototype img, .wireframes img {
  width: 100%;
}

video{
  width: 85%;
}


.label {
  display: block;
  width: 90%;
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
  text-align: center;
  font-style: italic;
  margin-left: 20px;
}

.column {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 5px;
}



.row::after {
  content: "";
  clear: both;
  display: table;
}

#tbc {
  font-style: italic;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
