

header{
  padding: 20px 0;
  text-transform: uppercase;
  background-color: black;
  color: white;
  margin-bottom: 20px;
}

header h1{
  font-weight: 700px;
  margin: 0px;
  font-family: Helvetica;
  font-size: 25px;
}

header a{
  padding: 0 20px;
  margin: 0;
  font-family: Helvetica;
  font-size: 20px;
  color: white;
}

header a:hover{
  text-decoration: none;
  color: white;
}

header nav{
  display: flex;
  justify-content: flex-end;
}

#profile-pic{
  margin-left: 40px;
}

h5{
  text-transform: uppercase;
  font-style: italic;
}


.documents{
  font-family: Helvetica;
  position: relative;
  top: 95px;
  left: 10px;
}

.documents a{
  text-transform: uppercase;
  border: 1px solid black;
  background-color: black;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
}

.documents a:hover{
  text-decoration: none;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 3px;
}

#profile-pic, .project-image{
    width: 300px;
}

#proj1pic, .img-thumbnail {
    width: 300px;
}

.grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 400px 400px;
  margin-left: 40px;
  justify-items: center;
}

.grid img{
  width: 300px;
  margin-bottom: 10px;
}

.grid p{
  width: 300px;
}


p, li {
  font-family: Helvetica;
  font-size: 14px;
}

h1, h3 {
  font-family: Helvetica;
}

#about{
  width: 700px;
  font-size: 17px;
}

.projheader{
  text-align: center;
}

.project img{
  display: inline;
}

.contact{
  text-transform: uppercase;
  font-family: Helvetica;
  width: 100%;
}

.contactlink{
  text-align: center;
}

.contact a{
  background: black;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 10px;
  width: 100px;
  float: right;      //idk why it's not floating right sad :-(
}

.contact a:hover{
  background: white;
  color: black;
  border: 1px solid black;
}
